

.area{
    width: 1180px;
    margin: auto;
}

.container{
    display: flex;

    padding-bottom: 140px;
}

.contents{
    width: 100%;
    padding-top: 50px;
}

.contents >h3.no{
    margin-bottom: 0;
    border-bottom: none;
}

.contents >h3{
    display: flex;
    width: 100%;
    min-height: 100px;
    font-size: 1.889rem;
    font-weight: 700;
    color: #111;
    justify-content: center;
    padding-top: 26px;
}

h3{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.textbox{
    text-align: center;
}
.textbox p{
    font-size: 1.25rem;
}


.join_box .loginlist{    
    display: flex;
    border-top: 2px solid #111;
    justify-content: center;

}
.join_box .mt{ margin-top: 50px;}


.join_box .loginlist .btn .act{
    font-weight: 500;
    color: #363636;
    border-bottom: none;
    background-color: #fff;
}
.join_box .loginlist .btn{
    flex-grow: 1;
    display: block;
    width: 100%;
    height: 4.375rem;
    font-size: 1.375rem;
    text-align: center;
    border-right: 1px solid #ccc;
}

.join_box .loginlist .btn1{
    flex-grow: 1;
    display: block;
    width: 100%;
    height: 4.375rem;
    font-size: 1.375rem;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f2f2;
}
button{
    border: 0 none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Noto Sans Kr", "맑은 고딕", "Malgun Gothic", sans-serif;

    background: transparent;
    cursor: pointer;
}

.loginbox{
    padding: 50px 0 65px;
}

.loginbox .innerbox .member_mid{
    display: flex;
    justify-content: center;
}

.member_mid .round{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
}

.member_mid .round i.member_persnal{
    width: 100px;
    height: 100px;
    background-position: -416px -724px;
}

.split{
    display: inline-block;
    vertical-align: middle;
    background: url(/imgs/split.png) no-repeat;
}

.member_mid .fieldset{
    width: 430px;
    margin-left: 22px;
    padding-top: 5px;
}

.member_mid .fieldset fieldset{ 
    position: relative;
}

legend{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

input[type=text]{
    padding: 0 0.625rem;
    height: 40px;
    font-family: "Montserrat", "Noto Sans Kr", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 100%;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 0.625rem;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.member_mid .fieldset fieldset >input[type=password]{
    width: calc(100% - 174px);
    margin-top: 10px;
    vertical-align: middle;
}


.member_mid .fieldset fieldset >input[type=text] {
    width: calc(100% - 130px);
}

input[type=password]{
padding: 0 0.625rem;
    height: 40px;
    font-family: "Montserrat", "Noto Sans Kr", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 100%;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 0.625rem;
    box-sizing: border-box;
    -webkit-appearance: none;
}


.member_mid .fieldset fieldset >span{
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}

.member_mid .fieldset fieldset .check {
    margin-top: 20px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: -2px 0 0;
    padding: 0;
    vertical-align: middle;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
     border: initial;
}

.member_mid .fieldset fieldset .check label{
    margin: 0 20px 0 5px;
    font-size: 14px;
}

input[type=checkbox]+label{
    vertical-align: middle;
}

.member_mid .fieldset fieldset .check >div{
    display: inline-block;
}

.member_mid .fieldset fieldset .login_btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 90px;
    font-size: 1.25rem;
    color: #fff;
    background-color: #4b63c3;
    border-radius: 0.625rem;
}

.member_mid .fieldset .btn_set{
    display: flex;
    margin-top: 1.875rem;
    justify-content: space-between;
}

 .white{
    border: 1px solid #bdbdbd;
    background-color: #fff;
    white-space: nowrap;
}
.btn_small{
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    font-size: 0.875rem;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    border-radius: 0.625rem;
}

.member_mid .fieldset .btn_set a{
    width: calc(50% - 8px);
    color: #363636;
}
.mt20{
    margin-top: 1.25rem;
}

.ft{
    font-weight: 500;
    color: #636363;
    font-size: 15px;
}

.red{
    color: red;
}

.innerbox .bot_select{
    display: flex;
    margin-top: 60px;
    border-top: 1px solid #372f2d;
    border-bottom: 1px solid #d1d1d1;
}

.bot_select li:first-child{
    border-left:  none;
}

.bot_select li{
    flex-grow: 1;
    width: 16.66%;
    text-align: center;
    border-left: 1px solid #d1d1d1;
}

.bot_select li dl dt{
    padding: 1.563rem 0;
    font-size: 1.125rem;
    color: #363636;
    border-bottom: 1px solid #d1d1d1;
}

.visible{
    position: absolute;
    top: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.bot_select li dl dd {
    padding: 0 20px 30px;
    line-height: 1.563rem;
}

.visible + dd .pg{
    min-height: 174px;
    padding-top: 35px;
    text-align: center;
}

.bot_select li dl dd .pg .member_ico{
   
    width: 55px;
    height: 53px;
}

.bot_select li dl dd .pg .mem4{
    background-position: -165px -438px;
}
.visible + dd .pg p{
    margin-top: 15px;
}

.visible + dd .pg .btn_set{
    margin-top: 5px;
}

.bot_select li dl dd .pg .btn_set img{
    width: 27px;
    height: auto;
}

 .visible +dd button{
    color: #363636;
    border: 1px solid #bebebe;
    background-color: #fff;
}

.bot_select li dl dd button{
    display: block;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    border-radius: 0.625rem;
    font-size: 1rem;
}

.bot_select li dl dd .pg .mem1{
    background-position: 0 -438px;
}

.bot_select li dl dd .pg .mem5{
background-position: -220px -438px;
}
.bot_select li dl dd .pg .mem6{
background-position: -275px -438px;}